
.container{
    width:500px;
    height:300px;
    border:2px solid;
    position:relative;
    
}
.container{
    transform: translate(100px);
}
.con1{
    width:100px;
    height:100px;
    border: 2px solid;
    background-color: aqua;
    display: none;
    position: absolute;
    top:40px;
    left:30px;
}
#trans1:hover ~.con1{
    display: block;
    transform: translate(80px);
}
.con2{
    width:100px;
    height:100px;
    border: 2px solid;
    background-color:blue;
    display: none;
    position:absolute;
    top:40px;
    left:30px;
}
#trans2:hover~.con2{
    display: block;
    transform: scale(0.8);
}
.con3{
    width:100px;
    height:100px;
    border: 2px solid;
    background-color:red;
    display: none;
    position: absolute;
    top:60px;
    left:30px;
    transition: all 2s ease;
}
#trans3:hover~.con3{
    display: block;
    transform: rotate(320deg);
}
.con4{
    width:100px;
    height:100px;
    border: 2px solid;
    background-color:rgb(0, 255, 34);
    display: none;
    position: absolute;
    top:60px;
    left:40px;
}
#trans4:hover~.con4{
    display: block;
    transform: skew(320deg);
}

